@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=UthmanTN1_Ver07&display=swap"); */
:root {
  --bg-light: #09000e0e;
  --text-light: #000000;
  --bg-dark: #1a202c;
  --text-dark: #ffffff;
}

html[data-theme="light"] {
  background-color: var(--bg-light);
  color: var(--text-light);
}

html[data-theme="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-dark) !important;
}

.collapsed {
  width: 60px !important;
  transition: all 0.5s ease-in-out;

  ul li span {
    display: none;
  }
}

.Uthman {
  font-family: 'UthmanTN1_Ver07', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: right;
}

q {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}

.today {
  position: relative;
}

.today::after {
  content: "Today";
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(4, 0, 255);
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  outline: none;
  border: none;
}

.dar[data-theme='dark'] {
  box-shadow: 5px 5px 5px 5px rgba(241, 255, 0, 1);
  background-color: blue;
}